.home-pills .nav-tabs .nav-item.show .nav-link,
.home-pills .nav-tabs .nav-link.active {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--card, #c2e0ff);
  border-color: rgba(0, 0, 0, 0.1);
}
.home-pills .nav-tabs .nav-link:focus,
.home-pills .nav-tabs .nav-link:hover {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--card, #c2e0ff);
  border-color: rgba(0, 0, 0, 0.1);
}

.home-img-one {
  text-align: start;
}
.home-img-one img {
  height: 80px;
}
.h-main-tab .nav-link p {
  color: #0C2C44;
  font-size: 20px;
  font-family: Poppins;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: start;
}
.h-main-tab .nav-tabs{
  border: none;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  align-items: start;
}
.h-main-tab .nav-tabs button.nav-link{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.h-main-tab nav{
  margin-bottom: 30px;
}
.user-point{
  border-radius: 43px;
  border: 1px solid rgba(255, 196, 69, 0.20);
  background: #FFF5DF;
  margin-bottom: 40px;
  padding: 8px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.user-img-name{
  display: flex;
  align-items: center;
  gap: 13px;
}
.user-img{
  width: 60px;
  max-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC445;
  border-radius: 50%;
}
.user-img img{
  width: 36px;
}
.user-name h4{
  color:#0C2C44;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
}
.user-name p{
  color:#424242;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}
.user-name p span{
  font-weight: 700;
}
.user-point{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-point {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 25.773px;
  border: 1.432px solid #FFC445;
  background: #FED06E;
  padding: 2px 12px;
}
.total-point p{
  color: #0A2D67;
  font-size: 14.318px;
  font-weight: 400;
  margin-bottom: 0;
}
.weekly-attendance{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FFF;
  box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 40px;
  position: relative;
}
.date-ico{
  position: absolute;
  top: 0;
  right: 0;
}
.weekly-attendance h2{
  color:#0C2C44;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.weekly-attendance p{
  color: #424242;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}
.mon-sun{
  text-align: center;
}
.mon-sun p{
  color: #000;
  font-size: 20px;
  margin-bottom: 13px;
  opacity: 0.44;
  font-weight: 400;
}
.click-done{
  background-color: #FFF5DF;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.mon-to-sun{
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  margin-bottom: 15px;
}
.pass-user{
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  border-radius: 25px;
  background: #C2E0FF;
  padding: 8px;
}
.pass-user p{
  color: #0C2C44;
  margin-bottom: 0;
  font-size: 14px;
}
.live-class{
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #C2E0FF;
  padding: 15px 15px 20px 15px;
}
.live-view{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.live-class p{
  color: #0C2C44;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.live-class a.btn-view{
  border-radius: 40px;
  border: 1px solid #FFC445;
  padding: 2px 18px;
  color: #0C2C44;
  font-size: 12px;
  font-weight: 700;
  background: #FFF5DF;
}
.user-attend{
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-attend img{
  width: 68px;
  height: 68px;
  max-width: 68px;
  border-radius: 50%;
}
.attend-text h3{
  color: #0C2C44;
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: 700;
}
.attend-text p{
  color: #0C2C44;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.pr-assign{
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-top: 1px solid #FFC445;
  background: #FFF5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  border-radius: 0 0 10px 10px;
  padding: 20px 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.pr-assign h4{
  color: #0C2C44;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 700;
}
.pr-assign p{
  color: #0C2C44;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.border-right{
  border-right: 1px solid rgb(0 0 0 / 10%);
}
.course-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.course-all h4{
  color:  #0C2C44;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.course-all a.btn-view-all{
  border-radius: 40px;
  color: #0C2C44;
  font-size: 14px;
  padding: 2px 12px;
  font-weight: 700;
  border: 1px solid  #FFC445;
  background:#FFF5DF;
}
.course-box{
  margin-bottom: 25px;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  display: grid;
}
.course-one{
  border-radius: 11.502px;
  border: 0.822px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  padding: 8px;
}
.course-one img{
  width: 100%;
  height: 120px;
  object-fit: cover;
  background-color: #FFF;
  margin-bottom: 11px;
  border-radius: 7.394px;
  border: 0.822px solid rgba(0, 0, 0, 0.10);
}
.course-one p{
  color: #0C2C44;
  width: fit-content;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 18px;
  background: #FFF5DF;
  padding: 2px 6px;
}
.alpha-tick{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alpha-tick h5{
  color: #0C2C44;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
.alpha-tick i{
  color: #15A006;
}
.today-weekly-alltime .nav.nav-pills{
  padding: 7px 8px;
  border-radius: 25px;
  background: #C2E0FF;
}
.today-weekly-alltime .nav.nav-pills{
  display: flex;
  justify-content: space-between;
}
.today-weekly-alltime .nav.nav-pills button.nav-link{
  color: #0C2C44;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 18px;
  border-radius: 22px;
  opacity: 0.7;
}
.today-weekly-alltime .nav.nav-pills button.nav-link.active{
  background: #FFF;
  color: #0C2C44;
  opacity: 1;
}
.today-weekly-alltime .nav.nav-pills button.nav-link:hover{
  background: #FFF;
  color: #0C2C44;
  opacity: 1;
}
.first-rank{
  border-radius: 21px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  padding: 10px;
  height: fit-content;
}
.first-rank{
  text-align: center;
  position: relative;
}
.rank-box{
  /* gap: 0; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  display: grid;
  margin-top: 60px;
  position: relative;
}
.first-rank-user img{
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
  border-radius: 40px;
  border: 4px solid #C2E0FF;
}
.first-rank p{
  margin-bottom: 12px;
  color: #0C2C44;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.first-rank h6{
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 18px;
  border: 1px solid #FFF;
  background: #FFC445;
  width: fit-content;
  margin: auto;
  padding: 4px 10px;
}
.rank-bg-img{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100%;
}
.rank-bg-img img{
  width: 100%;
}
.two-rank{
  margin: 40px 10px 0 10px;
}
.three-rank {
  margin: 70px 10px 0 10px;
}
.one-rank{
  position: relative;
  margin: 0 10px 0 10px;
}
.f-rank-emoji{
  position: absolute;
  transform: translate(-50%, -50%) !important;
  top: -20px !important;
  left: 50% !important;
}
.sec-bg-img{
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.sec-bg-img img{
  width: 100%;
}
.sec-bg-img h6{
  color: #0C2C44;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 26% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.first-rank-bg{
  margin-top: 22px;
}
.third-rank-bg{
  margin-top: 10px;
}
.four-rank{
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 24px;
  background: #FFF;
  padding: 18px 35px;
  margin-bottom: 8px;
}
.four-rank h5{
  color: #0C2C44;
  font-size: 20px;
  margin-bottom: 0;
  border-radius: 5px;
  background: rgba(194, 224, 255, 0.18);
  width: 100%;
  height: 30px;
  max-width: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.four-rank img{
  border-radius: 45px;
  border: 4px solid #C2E0FF;
  width: 100%s;
  height: 45px;
  max-width: 45px;
}
.four-rank-name h4{
  color: #0C2C44;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.four-rank-name p{
  color: #424242;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}
.last-rank{
  background: url(../../images/DashboardPages/bg-fourth.svg);
  padding: 40px 10px 10px 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6.5rem;
  z-index: 9;
  position: relative;
}