.Question-bg {
  background-image: url("../../images/Course&TestPages/Question-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid #000;
  padding: 40px;
  margin: 15px 0;
  position: relative;
}

.bear-img {
  background-color: #ffc445;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.bear-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.bear-text p {
  color: #0c2c44;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.bear-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.bear-bars .css-16mbrje-MuiStack-root > :not(style) ~ :not(style) {
  margin-top: -21px;
}

.bear-bars .css-1dsocjv-MuiLinearProgress-root .MuiLinearProgress-bar {
  border-radius: 5px;
  background-color: #ffc445 !important;
}

.bear-bars .css-1dsocjv-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #c7c7c7 !important;
}

.question-heading h5 {
  color: var(--Sub-text, #424242);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.question-heading h3 {
  color: var(--text-icon, #0c2c44);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.question-heading h3 span{
  color: #424242;
  font-size: 16px;
  font-weight: 400;
}

.select-text p {
  color: var(--Sub-text, #424242);
  font-size: 24px;
  font-weight: 400;
}

input[type="radio"] {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}
.wrapper {
  padding: 25px;
}
.wrapper label {
  display: block;
}
.icon {
  overflow: hidden;
  color: #0c2c44;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 10px;
  border: 1px solid var(--button-stroke, #ffc445);
  background: #fff;
  box-shadow: 0px 4px 0px 0px var(--button-stroke, #ffc445),
    0px 13px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 15px;
  width: 100%;
}

.icon:hover {
  cursor: pointer;
}

.peer:checked ~ .icon {
  color: #fff;
  border-radius: 10px;
  border: 1px solid #cc1216;
  background: #cc1216;
  box-shadow: 0px 4px 0px 0px #77060a, 0px 13px 12px 0px rgba(0, 0, 0, 0.08);
}
.peer:checked ~ .right {
  color: #fff;
  border: 1px solid #009f35;
  border-radius: 10px;
  background: #009f35;
  box-shadow: 0px 4px 0px 0px #076526, 0px 13px 12px 0px rgba(0, 0, 0, 0.08);
}

/* ----------------------------------Question Three-------------------------------------- */

.QuestionThree_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 23px;
  border: 2px dashed var(--small-text, #c7c7c7);
  background: #fff;
  box-shadow: 0px 54px 15px 0px rgba(105, 105, 105, 0),
    0px 34px 14px 0px rgba(105, 105, 105, 0.01),
    0px 19px 12px 0px rgba(105, 105, 105, 0.05),
    0px 9px 9px 0px rgba(105, 105, 105, 0.09),
    0px 2px 5px 0px rgba(105, 105, 105, 0.1);
  padding: 30px 70px;
  margin-bottom: 20px;
}

/* ----------------------------------Test Complete-------------------------------------- */

.Test-complete-heading h3 {
  color: #0c2c44;
  font-size: 35px;
  font-weight: 700;
}

.Test-complete-heading p {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
}

.test-complete-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.test-complete-bars .css-1dsocjv-MuiLinearProgress-root .MuiLinearProgress-bar {
  border-radius: 5px;
  background-color: #0c9038 !important;
}

/* ----------------------------------Question Sixteen-------------------------------------- */
.question-sixteen-border {
  display: block;
  width: 85px;
  border-bottom: 3px solid #0c2c44;
  color: #424242;
  font-size: 24px;
  font-weight: 400;
}

.question-sixteen-main {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 70px 0 30px 0;
}

.sixteen-bottom-text h5 {
  text-align: center;
  color: var(--small-text, #c7c7c7);
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0;
}

.QuestionEighteen-img {
  margin-bottom: 60px;
}
.QuestionEighteen-img img {
  height: 160px;
}
.QuestionEighteen-img button {
  border: none;
  background-color: transparent;
}

.QuestionNineteen-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.transform_text img {
  height: 40px;
  width: 40px;
}
.adorable_lion img {
  height: 200px;
  width: 100%;
}
.adorable_lion {
  padding: 29px 90px;
  border-radius: 23px;
  border: 1px dashed var(--small-text, #c7c7c7);
  background: #fff;
  box-shadow: 0px 54px 15px 0px rgba(105, 105, 105, 0),
    0px 34px 14px 0px rgba(105, 105, 105, 0.01),
    0px 19px 12px 0px rgba(105, 105, 105, 0.05),
    0px 9px 9px 0px rgba(105, 105, 105, 0.09),
    0px 2px 5px 0px rgba(105, 105, 105, 0.1);
  margin-bottom: 30px;
}

/* ---------------------------------Question TwentyOne-------------------------------------- */

.twentyOne {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.twentyOne-button {
  margin-bottom: 50px;
}

.twentyOne-icon {
  padding: 20px 27px;
}

.QuestionTwentyTwo-bg {
  background-image: url("../../images/Course&TestPages/Question-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
  border: 1px solid #000;
  padding: 40px 40px;
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
}

.QuestionTwentyTwo_img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.twenty-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.twenty-two-color {
  background-color: #fed06e;
  border-radius: 5px;
}

.twenty-two-color-two {
  background-color: #c2e0ff;
  border-radius: 5px;
}

.QuestionTwentyTwo-heading h3 {
  color: var(--text-icon, #0c2c44);
  font-size: 40px;
  font-weight: 700;
}

.QuestionTwentyTwo-heading p {
  color: var(--Sub-text, #424242);
  font-size: 28px;
  font-weight: 400;
}
.QuestionTwentyTwo-p {
  margin-bottom: 70px;
}

.twenty-two-speaker {
  display: flex;
  gap: 30px;
}

.twenty-two-speaker img {
  height: 40px;
}

/* -------------------------------Question Twenty Four ------------------------------------ */

.twenty-four-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 80px 80px 10px 10px;
  border: 1px solid var(--button-2-card-too, #fff5df);
  background: #fff;
  box-shadow: 0px -26px 7px 0px rgba(191, 191, 191, 0), 0px -17px 7px 0px rgba(191, 191, 191, 0.01), 0px -10px 6px 0px rgba(191, 191, 191, 0.05), 0px -4px 4px 0px rgba(191, 191, 191, 0.09), 0px -1px 2px 0px rgba(191, 191, 191, 0.1);
  padding: 40px 70px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.twenty-four-img img {
  height: 40px;
}

.QuestionTwentyFour-p {
  margin-bottom: 150px;
}

.color_mic {
  border-radius: 10px;
  border: 1px solid var(--button-stroke, #ffc445);
  background: #fff;
  box-shadow: 0px 4px 0px 0px var(--button-stroke, #ffc445),
    0px 13px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 10px 50px;
}

.select-text h6 {
  color: var(--Sub-text, #424242);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.select-text-margin {
  margin-bottom: 104px;
}
.select-text p {
  color: var(--Sub-text, #424242);
  font-size: 28px;
  font-weight: 400;
}
.twentyFive-hello h5 {
  color: var(--text-icon, #0c2c44);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 100px 0 150px 0;
}

.tameta_img {
  border-radius: 23px;
  border: 2px dashed var(--small-text, #c7c7c7);
  background: #fff;
  box-shadow: 0px 54px 15px 0px rgba(105, 105, 105, 0),
    0px 34px 14px 0px rgba(105, 105, 105, 0.01),
    0px 19px 12px 0px rgba(105, 105, 105, 0.05),
    0px 9px 9px 0px rgba(105, 105, 105, 0.09),
    0px 2px 5px 0px rgba(105, 105, 105, 0.1);
  width: fit-content;
  padding: 28px 70px;
}
.tameta-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.twenty-Eight h4 {
  color: #0c2c44;
  padding-bottom: 60px;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}


/* 14-12 Darshan CSS  */

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}
.playground {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 866px;
  max-width: 97%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  border-radius: 20px;
}

.playground > div {
  display: block;
  margin: 12px 6px;
  height: 130px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 11%;
  flex: 1 0 11%;
  background-color: transparent;
}
.card_back {
  background-color: lime;
  width: 99px;
  height: 140px;
}
.card_front {
  background-color: yellow;
  width: 99px;
  height: 140px;
}

/* .playground > .card1::before {
  
  } */

/* .flip-card-back::before {
        font-size: 55px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
     top: 44px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
  } */

.card1 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/PzVgC0b/cards-2.png");
}
.card2 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/SxFZGxT/cards-3.png");
}
.card3 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/Jx53vqh/cards-5.png");
}
.card4 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/Q8CBv39/cards-6.png");
}
.card5 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/DKgsC3Y/cards-7.png");
}
.card6 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/WK8knfJ/cards-8.png");
}
.card7 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/4Nkyyg1/cards-9.png");
}
.card8 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/sChxTb8/cards-10.png");
}
.card9 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/Vq6LNDJ/cards-11.png");
}
.card10 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/VDXTDC2/cards-12.png");
}

.card11 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/DCnJFXZ/cards-1.png");
}
.card12 > .flip-card-inner > .flip-card-back {
  background-image: url("https://i.ibb.co/Pz2fdPW/cards-4.png");
}

div[class^="card"] {
  background-color: transparent;
  color: white;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border-radius: 15px;
}

/* .flip-card-front:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: transparent;
} */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* div[class^="card"]:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rotate {
  -webkit-animation: rotate-center 1s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url(../../images/Course&TestPages/icon-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #FFC445;
  background-color:  #FFF5DF;
  box-shadow: 0px 4px 0px 0px #FFC445, 0px 13px 12px 0px rgba(0, 0, 0, 0.08);
}

.flip-card-front::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border: 1px solid #FFC445;
  background-color: #FFF5DF;
  box-shadow: 0px 4px 0px 0px #FFC445, 0px 13px 12px 0px rgba(0, 0, 0, 0.08);
}

.combo-container {
  display: block;
  position: relative;
  width: 866px;
  max-width: 96%;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 866px;
  max-width: 96%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 866px;
  max-width: 96%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
}

.counter {
  display: inline-block;
  color: #fdd257;
  font-weight: bold;
}

button {
  display: inline-block;
  position: relative;
  padding: 5px;
}

.muteBtn {
  display: none;
}

.muteBtn + label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-image: url("https://i.ibb.co/8xG9vgT/sound-mute-01.png");
}

.muteBtn:checked + label {
  border-radius: 50%;
  background-image: url("https://i.ibb.co/h7w6rmR/sound-mute-02.png");
}

.muteBtn:hover + label {
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.sSInside {
  position: absolute;
  width: 500px;
  max-width: 95%;
  height: 450px;
  max-height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.teacherTxt {
  position: relative;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.teacherTxt::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 17px 17px 0;
  border-color: transparent white transparent transparent;
  bottom: -16px;
  left: 88%;
  margin-left: -10px;
}

.teacherImg {
  height: 50%;
  width: auto;
  position: relative;
  right: 0;
  display: inline-block;
  float: right;
}

#finishScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

.fSSmall {
  position: absolute;
  width: 270px;
  height: 199px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fSImg {
  position: absolute;
  height: 230px;
  width: auto;
  top: -27px;
  left: -54px;
}

.fSWhite {
  position: absolute;
  width: 270px;
  height: 199px;
  background-color: white;
  left: 22px;
  border-radius: 5px;
}

.fSPiece1 {
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55%;
  width: 68%;
  top: 0px;
  right: 0px;
  color: #003956;
  padding: 2px;
  padding-right: 5px;
}

.fSPiece1 > h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.fSPiece2 {
  position: absolute;
  height: 41%;
  width: 76%;
  background-color: #126d9b;
  bottom: 0px;
  right: 0px;
  border-radius: 30px 0 5px 0;
  color: white;
  padding: 5px;
  padding-left: 17px;
}

.orange {
  color: #ef8a3f;
  font-weight: bold;
}

.exitBtn {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  right: -15px;
  top: -15px;
  z-index: 7;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.exitBtn2 {
  right: unset;
  top: -15px;
  left: -15px;
}

.exitBtn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#combo {
  /*   margin: auto;
    text-align: center; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

.startButton {
  background-color: #fdd257;
  border-color: orange;
  border-radius: 5px;
  color: #723900;
  cursor: pointer;
  font-weight: bold;
}

.startButton:hover {
  background-color: orange;
  color: #2f4f4f;
}

button:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.creditsBtn {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #65c9d1;
  border-color: #116d9c;
  color: white;
}

.creditsBtn:hover {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #2b9db1;
  border-color: #116d9c;
  color: white;
}

.info-screen {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 1%;
  right: 1%;
  border-radius: 5px;
  padding: 20px 10px;
  border: 1px solid #0c73b8;
  text-align: center;
}

.infoImg {
  display: block;
  margin: auto;
  padding: 4%;
}

@media screen and (max-width: 800px) {
  .playground > div {
    display: block;
    height: 100px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 15%;
    flex: 1 0 15%;
    background-color: transparent;
  }
  .flip-card-back {
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    background-color: #fff4d7;
  }
}

@media screen and (max-width: 800px) and (max-height: 300px) {
  .playground > div {
    display: block;
    height: 72px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 10%;
    flex: 1 0 10%;
    background-color: transparent;
  }
  .flip-card-back {
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    background-color: #fff4d7;
  }
}

@media screen and (max-width: 527px) {
  .playground > div {
    display: block;
    height: 75px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
    background-color: transparent;
  }
  .flip-card-back {
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid darkgray;
    background-color: #fff4d7;
  }
}
.card.matched {
  pointer-events: none;
}

.card.matched .flip-card-inner {
  transform: rotateY(180deg);
}
.card.matched .flip-card-back {
  border: 1px solid #43c76f;
  background-color: rgba(21, 160, 6, 0.27);
  box-shadow: 0px 4px 0px 0px #43c76f, 0px 13px 12px 0px rgba(0, 0, 0, 0.08);
  opacity: 1;
}
.footer p{
  color: #424242;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}
.footer p span{
  color: #0c2c44;
  border-bottom: 1px solid #0c2c44;
  font-weight: 700;
}
.footer button{
  border-radius: 8px;
  border: 1px solid #43c76f;
  background: #43c76f;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 15px;
}
.finish-screen h1{
  color: #0c2c44;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.finish-screen p{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #424242;
}
.finish-screen p span{
  color: #0c2c44;
  border-bottom: 1px solid #0c2c44;
}
.finish-screen button{
  border-radius: 8px;
  border: 1px solid #43c76f;
  background: #43c76f;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.finish-screen {
  text-align: center;
}

.Four-margin {
  margin-bottom: 100px;
}
.speaker_five {
  border: 1px solid #ffce61;
  padding: 20px;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.speaker_five button {
  border: none;
  background-color: transparent;
}
.speaker_img img {
  height: 150px;
  width: 150px;
}
 
.speaker-off {
  mix-blend-mode: luminosity;
}
.speaker-color {
  background-color: #fff5df;
  padding: 20px;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.six-tameta {
  border-radius: 10px;
  border: 1.5px dashed #ba141a;
  background: #fff;
  box-shadow: 0px 54px 15px 0px rgba(105, 105, 105, 0),
    0px 34px 14px 0px rgba(105, 105, 105, 0.01),
    0px 19px 12px 0px rgba(105, 105, 105, 0.05),
    0px 9px 9px 0px rgba(105, 105, 105, 0.09),
    0px 2px 5px 0px rgba(105, 105, 105, 0.1);
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.six-tameta img {
  height: 100px;
  width: 160px;
}
.question-teen-text h3 {
  color: var(--text-icon, #0c2c44);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
 
.question-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 94px;
  opacity: 0.81;
  background: #c2e0ff;
  padding: 20px 50px;
  margin: 60px 0;
}
 
.QuestionTeen-img img {
  height: 100px;
}
.QuestionTeen-img button {
  border: none;
  background-color: transparent;
}
 
.Eleven-volume {
  color: #0a2d67;
  font-size: 20px;
  font-weight: 700;
}
.Eleven-volume i {
  font-size: 20px;
  margin-left: 10px;
}
.button-Eleven button {
  border: none;
  background-color: transparent;
}
.button-Eleven {
  margin: 0 10px;
}
 
.Eleven-text {
  margin-bottom: 70px;
}

/* Amit New CSS  */
.match-svg {
  pointer-events: none;
}

.match-item {
  background-color: #f8f9fa;
  border: 2px solid #ced4da;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  text-align: center;
  transition: all 0.3s ease;
}

.match-item:hover,
.match-item.selected {
  background-color: #e2f0ff;
  border-color: #007bff;
  color: #007bff;
}
