.student-profile-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.student-profile-heading i {
  font-size: 20px;
}
.student-profile-heading a {
  color: #0c2c44;
}
.student-profile-heading h2 {
  color: #0c2c44;
  font-size: 32px;
  font-weight: 700;
}
.edit-student {
  font-size: 20px;
}
.edit-student a {
  color: #0c2c44;
}

.student-edit-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(57, 49, 133, 0.17);
  margin-bottom: 60px;
}

.student-img img {
  height: 150px;
  width: 150px;
  margin-top: -50px;
  border: 4px solid #C2E0FF;
  border-radius: 50%;
}
.points-crown p {
  color: #0c2c44;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  border-radius: 18px;
  border: 1px solid #ffc445;
  background: #fed06e;
  padding: 4px 10px;
}
.points-crown img {
  height: 40px;
}
.points-crown {
  display: flex;
  align-items: center;
  gap: 20px;
}

.student-name h4 {
  color: #0c2c44;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}
.student-main {
  display: flex;
  gap: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #c2e0ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 25px;
}

.student-school h5 {
  color: #0c2c44;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 15px 0px;
}
.student-school h5 span {
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.student-school-main {
  border-top: 1px solid #ffc445;
  background: #fff5df;
  border-radius: 0 0 10px 10px;
  padding: 25px 25px;
}

.points-earned h4 {
  color: var(--text, #0c2c44);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.points-earned h4 span {
  color: var(--text, #0c2c44);
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
}
.points-earned h3 {
  color: var(--text, #0c2c44);
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
.points-earned h3 span {
  color: var(--text, #0c2c44);
  font-size: 15px;
  font-weight: 400;
}
.points-earned {
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 15px 10px;
}
.points-main {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 15px;
  margin: 30px 0;
}
.audio-player {
  background-color: #ff2828;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player i {
  color: #fff;
}
.live-sessions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.live-sessions h3 {
  color: var(--text, #0c2c44);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.live-count {
  color: #0c2c44;
  font-size: 40px;
  font-weight: 700;
  border-radius: 12px;
  background: #fff5df;
  text-align: center;
  width: fit-content;
  padding: 0px 10px;
}

.live-main-audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #c2e0ff;
  padding: 15px 50px 15px 33px;
  margin-bottom: 30px;
}

.course {
  background-color: #c2e0ff;
}
.course-text {
  gap: 12px;
}
.course-text h3 {
  color: #088733;
}

.rank {
  background-color: #c2e0ff;
}
.rank i {
  color: #0c2c44;
  font-size: 25px;
}
.rank-section {
  gap: 7px;
}

.s-main-tab .nav-link p {
  color: #0c2c44;
  font-size: 20px;
  font-family: Poppins;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: start;
}
.s-main-tab .nav-tabs {
  border: none;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.s-main-tab .nav-tabs button.nav-link {
  border-radius: 10px;
  background: #fff;
  padding: 0 0 10px 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #424242;

  font-size: 24px;
  font-weight: 400;
}
.s-main-tab nav {
  margin-bottom: 25px;
}

.s-pills .nav-tabs .nav-item.show .nav-link,
.s-pills .nav-tabs .nav-link.active {
  border-radius: 0;
  border-bottom: 3px solid #0c2c44 !important;
  background: none;
  border-color: #fff;
  color: #0c2c44;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.s-pills .nav-tabs .nav-link:focus,
.s-pills .nav-tabs .nav-link:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background: none;
  border-color: #fff;
}

/* ------------------------------------------------------------------- */

.date-student img {
  height: 120px;
  width: 120px;
  border: 4px solid #c2e0ff;
  border-radius: 100%;
}

.student-time h3 {
  color: #0c2c44;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.student-time p {
  color: #424242;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: -22px;
}

.student-time-main {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #ebeafa;
  padding: 20px 25px;
  background: #fff;
  margin-bottom: 20px;
}
.scorer {
  margin-top: 26px;
}
.student-time h4 {
  color: #fcb535;
  font-size: 18px;
  font-weight: 700;
}

.premium-classes {
  border-radius: 24px;
  border: 1px solid #ebeafa;
  background: var(--cards, #c2e0ff);
}

.css-1dsocjv-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #c2e0ff !important;
}

.css-1dsocjv-MuiLinearProgress-root .MuiLinearProgress-bar {
  border-radius: 5px;
  background-color: #0c9038 !important;
}
.premium-classes
  .css-1dsocjv-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #fff !important;
}
.left-right-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.left-right-main i {
  font-size: 20px;
}
.left-right-main span {
  color: #0c2c44;
  font-size: 19px;
  font-weight: 700;
}
/* ----------------------------------------Course--------------------------------------------- */

.Course-bg {
  background-image: url("../../images/StudentProfile/Course-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  padding: 60px 0;
}

.course-student-img img {
  height: 100px;
  width: 100px;
  border: 1px solid #c2e0ff;
  border-radius: 100%;
}

.student-course-heading h4 {
  color: #0c2c44;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
.student-course-heading h3 {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
}
.student-course-heading p {
  color: #0c2c44;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.student-course-main {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid #ebeafa;
  background: #c2e0ff;
  padding: 22px 47px 21px 47px;
  width: fit-content;
  margin-bottom: 30px;
}

.Alphabets-text h3 {
  color: #0c2c44;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.Alphabets-text h3 span {
  color: #424242;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.3;
  text-transform: lowercase;
}

.Alphabets_img img {
  width: 200px;
}

.Alphabets-text p {
  color: #0c2c44;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
}

.Alphabets-main {
  display: flex;
  gap: 15px;
  margin: 20px 0 5px 0;
}

.Alphabets-center {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 19px 25px;
  background: #fff;
  margin: 0 72px;
  margin-bottom: 20px;
}

.course-bar {
  margin-top: -19px;
}
.course-bar p {
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

.student-time h6 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text, #0c2c44);
}
.Attended-main {
  border-radius: 24px;
  border: 1px solid #ebeafa;

  background: var(--cards, #c2e0ff);
}

.Absent-main {
  border-radius: 24px;
  border: 1px solid #ebeafa;

  background: var(--small-text, rgba(66, 66, 66, 0.3));
  opacity: 0.4;
}
