* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-padding-top: 100px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}
.student-edit-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(57, 49, 133, 0.17);
  margin-bottom: 40px;
}
.px-100 {
  padding-left: 230px;
}
.navbar {
  padding: 15px 30px;
  background: #fff;
  box-shadow: 0px 188px 53px 0px rgba(236, 229, 255, 0),
    0px 121px 48px 0px rgba(236, 229, 255, 0.01),
    0px 68px 41px 0px rgba(236, 229, 255, 0.05),
    0px 30px 30px 0px rgba(236, 229, 255, 0.09),
    0px 8px 17px 0px rgba(236, 229, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}
.icon-search .fa.fa-search {
  color: #4c5f71;
  display: block;
  font-size: 16px;
  height: 46px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 3.375rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c2c44;
}
.icon-search .form-control {
  border-radius: 32px;
  padding: 10px 25px 10px 2.8rem;
  border-radius: 33px;
  border: 1px solid rgba(12, 44, 68, 0.05);
  color: #424242;
  background: #fff;
  box-shadow: 0px 13px 4px 0px rgba(201, 201, 201, 0),
    0px 8px 3px 0px rgba(201, 201, 201, 0.01),
    0px 5px 3px 0px rgba(201, 201, 201, 0.05),
    0px 2px 2px 0px rgba(201, 201, 201, 0.09),
    0px 1px 1px 0px rgba(201, 201, 201, 0.1);
}
.btn.btn-user {
  border: none;
  box-shadow: none;
  padding: 0;
}
.btn.btn-user img {
  border: 2px solid #c2e0ff;
  width: 100%;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo-search {
  display: flex;
  align-items: center;
  gap: 30px;
}
.notification-user {
  display: flex;
  align-items: center;
  gap: 30px;
}
.notification a {
  color: #0c2c44;
  font-size: 20px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-150 {
  padding-right: 150px;
  padding-left: 150px;
}
.email-login-text {
  padding-left: 45px;
}
.get-start {
  background: url(../src/images/login-bg.svg);
  padding: 140px 60px 90px 60px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45px;
  box-shadow: 0px 165px 46px 0px rgba(153, 153, 153, 0),
    0px 105px 42px 0px rgba(153, 153, 153, 0.01),
    0px 59px 36px 0px rgba(153, 153, 153, 0.05),
    0px 26px 26px 0px rgba(153, 153, 153, 0.09),
    0px 7px 14px 0px rgba(153, 153, 153, 0.1);
}
.get-start.bg-white {
  background: #fff;
  padding: 100px 200px;
}
.email-login-text {
  text-align: center;
}
.email-login-text h1 {
  color: #0c2c44;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 14px;
}
.email-login-text p {
  color: #424242;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.btn:focus {
  box-shadow: none;
}
.btn.btn-c-email {
  border-radius: 8px;
  border: 1px solid #ffc445;
  background: #fed06e;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 15px;
  justify-content: center;
  color: #0a2d67;
  font-size: 20px;
  font-weight: 700;
}
.btn.btn-c-google {
  border-radius: 8px;
  border: 1px solid #ffc445;
  background: #fffcf4;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 15px;
  justify-content: center;
  color: #0a2d67;
  font-size: 20px;
  font-weight: 700;
}
.btn.btn-c-google:hover {
  border: 1px solid #ffc445;
  background: #fed06e;
  color: #0a2d67;
}
.btn.btn-c-email:hover {
  border: 1px solid #ffc445;
  background: #fffcf4;
  color: #0a2d67;
}
.dont-account p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #424242;
  font-size: 20px;
  font-weight: 400;
}
.dont-account p a {
  color: #0c2c44;
  font-size: 20px;
  font-weight: 700;
}
.dont-account p a:hover {
  color: #ffc445;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #e9ecef;
}
.login-form {
  text-align: start;
}
.forgot {
  text-align: end;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #0C2C44;
}
.login-form label.form-label {
  color: #0c2c44;
  font-size: 14px;
  font-weight: 700;
}
.login-form input.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 16px;
  color: #424242;
  font-size: 16px;
  font-weight: 400;
}
.forgot a {
  color: #0c2c44;
  font-size: 16px;
  font-weight: 400;
}
.forgot a:hover {
  color: #ffc445;
}
.check-mail {
  border-radius: 10px;
  background: rgba(194, 224, 255, 0.2);
  box-shadow: 0px 165px 46px 0px rgba(153, 153, 153, 0),
    0px 105px 42px 0px rgba(153, 153, 153, 0.01),
    0px 59px 36px 0px rgba(153, 153, 153, 0.05),
    0px 26px 26px 0px rgba(153, 153, 153, 0.09),
    0px 7px 14px 0px rgba(153, 153, 153, 0.1);
  padding: 100px 170px 60px 170px;
}
.mail-icon {
  font-size: 50px;
  color: #fff;
  border-radius: 20px;
  background: #0c2c44;
  width: 100%;
  max-width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -160px;
  margin-bottom: 25px;
}
.check-mail {
  text-align: center;
}
.check-mail h1 {
  color: #0c2c44;
  font-size: 40px;
  font-weight: 700;
}
.check-mail p {
  color: #424242;
  font-size: 16px;
  margin-bottom: 38px;
  font-weight: 400;
}
.bg-check-mail {
  height: 100%;
  background-color: red;
  margin: auto;
}
.my-100 {
  margin-top: 100px;
}

/* Sidebar  */

.sidebar {
  width: 250px;
  position: fixed;
  overflow-y: scroll;
  top: 106px;
  left: 0;
  bottom: 30px;
  border-radius: 0px 29px 29px 0px;
  border-top: 3px solid rgba(66, 66, 66, 0.3);
  border-right: 3px solid rgba(66, 66, 66, 0.3);
  border-bottom: 3px solid rgba(66, 66, 66, 0.3);
  background: #fff;
  scrollbar-width: none;
  padding: 20px 0;
}
.asside {
  margin-top: 30px;
  margin-left: 280px;
  margin-right: 30px;
}
.without-sidebar{
  margin: 30px !important;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.sidebar-menu li a {
  color: #424242;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-decoration: none;
  padding: 7px 20px;
  display: flex;
  align-items: center;
}

.sidebar-menu li a:hover,
.sidebar-menu li a.active {
  color: #0c2c44;
  font-weight: 700;
}

.sidebar-menu li a i {
  margin-right: 10px;
}

.student-profile-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.student-profile-heading i {
  font-size: 20px;
}
.student-profile-heading a {
  color: #0c2c44;
}
.student-profile-heading h2 {
  color: #0c2c44;
  font-size: 32px;
  font-weight: 700;
}
.student-edit-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(57, 49, 133, 0.17);
  margin-bottom: 60px;
}

.edit-student {
  font-size: 20px;
}
.edit-student a {
  color: #0c2c44;
}

.logout-img img {
  height: 440px;
}
.log-out-pop h4 {
  color: #0c2c44;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0 25px 0;
}
.logout-button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.chat .nav-pills{
  justify-content: space-between;
}
.chat .nav-pills .nav-link:hover,
.chat .nav-pills .nav-link.active, .chat .nav-pills .show>.nav-link{
  border-radius: 9px;
  border: 1px solid #C2E0FF;
  background: #C2E0FF;
  padding: 8px 40px;
  color: #0C2C44;
  font-size: 16px;
  font-weight: 700;
}
.chat .nav-pills .nav-link{
  border-radius: 9px;
  border: 1px solid #C2E0FF;
  background: #FFF;
  padding: 8px 40px;
  color: #0C2C44;
  font-size: 16px;
  font-weight: 700;
}
.harshal{
  padding: 16px 20px 16px 0;
  border-bottom: 1px solid rgba(59, 59, 95, 0.05);
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.harshal-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.harshal-img img{
  width: 55px;
  height: 55px;
  max-width: 55px;
  border-radius: 50%;
}
.harshal-meet h4{
  color: #0C2C44;
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 700;
}
.harshal-meet h5{
  color: #424242;
  font-size: 12px;
  font-family: Poppins;
  margin-bottom: 0;
  font-weight: 700;
}
.time-online h6{
  color: #0C2C44;
  font-family: Poppins;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 700;
}
.time-online h6.online{
  color: #15A006;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}
.harshal-meet h5.read{
  color: rgba(66, 66, 66, 0.30);
  font-size: 12px;
  font-family: Poppins;
  margin-bottom: 0;
  font-weight: 700;
}
.all-chat {
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.harshal-chat-open{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 10px 20px;
}
.back-harshal{
  display: flex;
  align-items: center;
  gap: 25px;
}
.harshal-on{
  display: flex;
  align-items: center;
  gap: 10px;
}
.harshal-meet-online h4{
  color: #0C2C44;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.harshal-meet-online h5{
  color: #15A006;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.harshal-on img{
  height: 55px;
  width: 55px;
  max-width: 545px;
  border-radius: 50%;
}
.back-harshal a{
  color: #0C2C44;
  font-size: 20px;
}
.three-dot .btn.btn-secondary{
  background-color: transparent;
  border: none;
  color: #0C2C44;
  box-shadow: none;
}
.chat-middal{
  background: url(../src/images/chatbg.png);
  padding: 10px 30px;
  height: 55vh;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scrollbar-width: none;
}
.first-chat{
  border-radius: 10px;
  background: #FFF5DF;
  padding: 8px 14px;
  width: fit-content;
  margin-bottom: 8px;
}
.first-chat p{
  color: #0C2C44;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 700;
}
.first-chat h6{
  color: rgba(66, 66, 66, 0.30);
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 400;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.first-chat h6 span.seen{
  color: #0C9038;
}
.right-side-chat {
  display: flex;
  justify-content: flex-end;
  margin-left: 15rem;
}

.first-chat-left {
  border-radius: 10px;
  background: #C2E0FF;
  padding: 8px 14px;
  width: fit-content;
  margin-bottom: 8px;
}
.first-chat-left p{
  color: #0C2C44;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 700;
}
.first-chat-left h6{
  color: rgba(66, 66, 66, 0.30);
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 400;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.left-side-chat {
  display: flex;
  justify-content: flex-start;
  margin-right: 15rem;
}
.harshil-type{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}
.harshil-type img{
  width: 35px;
  height: 35px;
  max-width: 35px;
  border-radius: 50%;
}
.harshil-type p{
  color: rgba(66, 66, 66, 0.30);
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
}
.plus-icon a{
  display: flex;
  width: 100%;
  max-width: 52px;
  border-radius: 18px;
  background: #0C2C44;
  color: #FFF;
  font-size: 20px;
  height: 52px;
  justify-content: center;
  align-items: center;
}
.plus-icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.typing-send{
  position: relative;
  width: 100%;
}
.typing-send input.form-control{
  border-radius: 18px;
  background: #ECECEC;
  padding: 13px 45px 13px 15px;
  color: #0C2C44;
  font-size: 16px;
  font-weight: 700;
}
.typing-send a{
  background-color: transparent;
  color: #0C2C44;
  position: absolute;
  transform: translateY(-50%) !important;
  top: 50% !important;
  right: 0 !important;
}
.all-type {
  padding: 10px 20px;
}
a.dropdown-item {
  color: #424242;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-decoration: none;
}
.icon-search input{
  color: #424242;
  font-weight: 400;
}
.dictionary-search .form-control{
  border-radius: 13px;
  background: rgba(194, 224, 255, 0.16);
}
.dictionary-search{
  margin-bottom: 30px;
}
.absent-text{
  margin-bottom: 30px;
  border-radius: 15px;
  border: 1px solid #C7C7C7;
  background: #FFF;
  padding: 30px;
  box-shadow: 0px 26px 7px 0px rgba(191, 191, 191, 0.00), 0px 17px 7px 0px rgba(191, 191, 191, 0.01), 0px 10px 6px 0px rgba(191, 191, 191, 0.05), 0px 4px 4px 0px rgba(191, 191, 191, 0.09), 0px 1px 2px 0px rgba(191, 191, 191, 0.10);
}
.sound-dict a{
  display: flex;
  justify-content: flex-end;
}
.sound-dict{
  margin-bottom: 38px;
}
.sound-dict a i{
  width: 35px;
  height: 35px;
  max-width: 35px;
  background-color: #C2E0FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C2C44;
  font-size: 15px;
}
.translate-text{

}
.translate-text h1{
  color: #0C2C44;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 12px;
}
.translate-text h1 span{
  color: #424242;
  font-size: 20px;
  font-weight: 400;
}
.translate-text h2{
  color: #0C2C44;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 26px;
}
.translate-text h3{
  color: #424242;
  font-size: 32px;
  font-weight: 400;
}
.bookmark{
  margin-top: 100px;
}
.bookmark a{
  color: #C7C7C7;
  font-size: 22px;
}
.recent-saves h2{
  color:#0C2C44;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.recent-head h3{
  color: #0C2C44;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 700;
}
.recent-head h3 span{
  color: #0C2C44;
  font-size: 12px;
  font-weight: 400;
}
.recent-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.recent-box{
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #C2E0FF;
  margin-bottom: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 15px;
}
.recent-box p{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}


/* media  */

/* 1680 */
@media (max-width: 1700px) {
}

/* 1500 */
@media (max-width: 1679px) {
}

/* 1440 */
@media (max-width: 1499px) {
}

/* 1280 */
@media (max-width: 1439px) {
  .get-start.bg-white {
    padding: 100px 150px;
  }
}

/* 1025 */
@media (max-width: 1279px) {
  .get-start.bg-white {
    padding: 60px;
  }
}

/* 992 */
@media (max-width: 1024px) {
}

/* 768 */
@media (max-width: 991px) {
}

/* 576 */
@media (max-width: 767px) {
}

/* 525 */
@media (max-width: 575px) {
}

/* 480 */
@media (max-width: 524px) {
}

/* 425 */
@media (max-width: 479px) {
}

/* 375 */
@media (max-width: 424px) {
}

/* 320 */
@media (max-width: 374px) {
}

/* 280 */
@media (max-width: 319px) {
}
